<link rel="ractive" href="./dropdown.html" name="dropdown"/>
<link rel="ractive" href="./pager.html" name="pager"/>

<div class="rdatagird">
  <!--配置请求url或者数据源才展示界面-->
  {{#if url || datasource}}
  <div class="rwrapper">
    <!--请求出错-->
    {{#if ajaxError}}
    <div class="rerror text-center">
      <i class="fa fa-exclamation-circle"></i>

      <div>
        请求出错，请稍后重试 <br>
        ({{ajaxError.statusCode}}:{{{ajaxError.content || '网络连接错误'}}} - {{ajaxError.id}})
      </div>
    </div>
    {{/if}}

    <!--正在加载，可能datalist有数据-->
    {{#if isLoading}}
    <div class="mask-loading">
      <div class="rloading text-center">
        <i class="fa fa-spinner fa-pulse"></i>

        <div>正在加载，请稍候...</div>
      </div>
    </div>
    {{/if}}

    <!--在有数据的情况下重新请求，比如筛选-->
    {{#if !ajaxError && datalist}}
    <div class="rcols">
      {{>content}}
    </div>
    {{/if}}

    {{#if !ajaxError && !datalist}}
    <div class="rempty text-center">
      <i class="fa fa-exclamation-circle"></i>

      <div>暂无数据</div>
    </div>
    {{/if}}
  </div>

  {{#if total}}
  <pager pageid="{{pageid}}" pagesize="{{pagesize}}" total="{{total}}" on-pagechange="request" />
  {{/if}}
  {{/if}}
</div>
<script>
  var $ = require('jquery')
  var MSG = {
    REQ_ERROR: '请求出错',
    MISSING_CLIENT_OPTS: '客户端分页需要配置请求url或者datasource',
    MISSING_SERVER_OPTS: '服务端分页需要配置url'
  }

  function tryExec(str) {
    return $.isFunction(str) ? str() : str
  }

  // 封装统一的ajaxError对象
  function wrapError(xhr) {
    if (xhr.responseJSON)
      return xhr.responseJSON

    var text = xhr.responseText.length > 64 ? '<span>' + MSG.REQ_ERROR +
      '</span>' : xhr.responseText

    return {
      statusCode: xhr.status,
      content: text + xhr.statusText,
      id: Date.now()
    }
  }

  // ajax请求统一处理，服务端分页需要在翻页时清空错误对象
  function onAjaxError(app) {
    return function (xhr) {
      app.set('ajaxError', wrapError(xhr))
    }
  }

  // 开始渲染表格，设置关键数据源
  function renderClientPagination(app, data, errorHandler) {
    /*
     * 客户端分页有两种情况：
     * 1)直接请求一次；
     * 2)直接设置数据源
     */
    if (data.url) {
      var url = tryExec(data.url)
      var params = tryExec(data.params) || {}

      app.set('isLoading', true)
      $.post(url, params).then(function requestData(json) {
        var datasource = json.content || []
        app.set('datasource', datasource)
        app.set('ajaxError', null)
        /**
         * 这里的设置要放在最后，如果放在前面，触发的事件无法获取datasource
         */
        app.set('total', datasource.length)

      }).fail(errorHandler).always(function always() {
        app.set('isLoading', false)
      })
    } else if (data.datasource) {
      app.set('ajaxError', null)
      app.set('isLoading', false)
      app.set('total', data.datasource.length)
    } else {
      throw new Error(MSG.MISSING_CLIENT_OPTS)
    }

    /*
     * 这里提取到外部，不依赖于第一次请求成功
     * 后续修改数据源也可以正常工作
     */
    app.on('request', function datagridPageChange(e, info) {
      var datasource = app.get('datasource')
      // 可能请求还没有加载完成
      if (!datasource) return

      var pageid = info.pageid
      var pagesize = info.pagesize
      var start = (pageid - 1) * pagesize
      var end = start + pagesize
      var datalist = datasource.slice(start, end)

      app.set('datalist', datalist)
    })

    // TODO 表头排序
  }

  function renderSeverPagination(app, data, errorHandler) {
    function requestByPage(pageid, pagesize, callback) {
      var url = tryExec(data.url)
      var params = tryExec(data.params) || {}
      params.pageID = pageid
      params.pageSize = pagesize

      app.set('isLoading', true)
      $.post(url, params).then(function requestPageData(json) {
        app.set('datalist', json.content || [])
        app.set('datasource', json.content || [])
        app.set('ajaxError', null)

        callback && callback(json)
      }).fail(errorHandler).always(function always() {
        app.set('isLoading', false)
      })
    }

    /*
     * 先请求一次获取总条数然后绑定事件
     */
    requestByPage(data.pageid, data.pagesize, function(json) {
      // ?? 这里是每一次都设置还是只设置一次
      app.set('total', json.total)
      app.on('request', function datagridPageChange(e, info) {
        requestByPage(info.pageid, info.pagesize)
      })
    })
  }

  component.exports = {
    removeItem: function (where) {
      var app = this
      if ($.isNumeric(where) && where > -1) {
        // 这里始终返回一个数组
        var items = app.get('datalist').splice(where, 1)
        var datasource = app.get('datasource')
        if (datasource && items.length) {

          var index = $.inArray(items[0], datasource)
          if (index > -1) {
            app.get('datasource').splice(index, 1)
          }
        }

        // 同步更新pager的total
        var pager = app.findComponent('pager')
        pager.subtract('total')
        return true
      }
    },
    isolated: false,
    data: {
      isLoading: true,
      ajaxError: null,
      // 当页数据
      datalist: [],
      // 全部数据
      datasource: [],
      total: 0
    },
    onrender: function () {
      var app = this
      var data = this.get()
      var errorHandler = onAjaxError(app)

      if (!data.pageid) {
        app.set('pageid', 1)
      }

      if (!data.pagesize) {
        app.set('pagesize', 10)
      }

      // 客户端分页
      if (!data.server) {
        renderClientPagination(app, data, errorHandler)
        return
      }

      // 服务端分页
      if (data.url) {
        renderSeverPagination(app, data, errorHandler)
        return
      }

      throw new Error(MSG.MISSING_SERVER_OPTS)
    }
  }
</script>
